div.css-1kyxreq.ebxwdo62 {
    padding-left: 30%;
}

div.css-1r6slb0.esravye1 {
    text-align: center;
}

/*---------------------------------------OVERVIEW--------------------------------------*/
/* button.tabs-bui3-tab-0.st-cr.st-cs.st-ct.st-cu.st-cv.st-cw.st-d1.st-cy.st-b0.st-f9.st-he{
    background-color: #1e376d;
}


div.css-q8sbsg.eqr7zpz4{
    background-color: #1e376d;
}
div.st-bf.st-b3.st-bg.st-bh.st-bi.st-bj.st-bk.st-bl.st-bm.st-bn.st-bo.st-bp.st-bq{
    background-color: #1e376d;
}

div.css-17fow7x.esravye0{
    background-color: #0E1113;
} */

/* div.css-nahz7x.eqr7zpz4 { */
    /* text-align: center; */
    /* background-color: #2b2b2b; */
/* } */

/*Bar_chart*/
/* div.css-1shh8bx.esravye0{
    background-color: #0E1113;
    border-radius: 7px;
} */

/*Map*/
/* div.css-ml2xh6.esravye1{
    background-color: #0E1113;
    padding-top: 5%;
    padding-left: 13%;
} */

/* div.streamlit-expanderHeader.st-ae.st-cj.st-ag.st-ah.st-ai.st-aj.st-cq.st-br.st-dl.st-dm.st-dn.st-do.st-dp.st-ar.st-as.st-b6.st-b5.st-b3.st-bv.st-cc.st-cd.st-b4.st-ch.st-c5.st-c7.st-c6.st-c4{
    background-color: #1e376d;
}

div.streamlit-expanderContent.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-dl.st-cq.st-bx.st-e2.st-do.st-dp.st-ar.st-as.st-b6.st-b5.st-bt.st-dv.st-bb.st-e3.st-dx.st-dt.st-dy.st-du.st-c5.st-c7.st-c6.st-c4{
    background-color: #0E1113;
}

div.streamlit-expanderContent.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-dl.st-cq.st-bx.st-e7.st-do.st-dp.st-ar.st-as.st-b6.st-b5.st-bt.st-dv.st-bb.st-e8.st-dx.st-dt.st-dy.st-du.st-c5.st-c7.st-c6.st-c4{
    background-color: #0E1113;
} */

/* div.css-1k0j796.e1tqyfl40 {
    background-color: #EEEEEE;
    border: 3px solid #CCCCCC;
    padding: 20px;
    border-radius: 7px;
} */

/*---------------------------------------HEADER--------------------------------------*/
/* div.block-container.css-z5fcl4.e1g8pov64{
    background-color: #353535;
} */

/* canvas.mark{
    background-color: #353535;
} */

/* div.css-1th6w3a.esravye0{
    background-color: blue;
} */
/* div.css-434r0z.esravye3 {
    background-color: blue;
} */

/* TESTING*/
/* button.st-br.st-bs.st-b6.st-b5.st-ar.st-as.st-bt.st-bu.st-bv.st-bw.st-bx.st-by.st-bz.st-c0.st-c1.st-c2.st-c3.st-c4.st-c5.st-c6.st-c7.st-c8.st-c9.st-ca.st-b1.st-cb.st-cc.st-cd.st-ce.st-cf.st-cg.st-ch.st-ci.st-ae.st-cj.st-ag.st-ah.st-ai.st-aj.st-ck.st-cl.st-cm.st-cn.st-co.st-cp{
    background-color: #1e376d;
} */
/*Tab-Map-Option*/
/* <type = "button class ="st-br st-bs st-b6 st-b5 st-ar st-as st-bt st-bu st-bv st-bw st-bx st-by st-bz st-c0 st-c1 st-c2 st-c3 st-c4 st-c5 st-c6 st-c7 st-c8 st-c9 st-ca st-b1 st-cb st-cc st-cd st-ce st-cf st-cg st-ch st-ci st-ae st-cj st-ag st-ah st-ai st-aj st-ck st-cl st-cm st-cn st-co st-cp" >{
    background-color: #1e376d;
} */

/* div.css-3mmywe.e15ugz7a0{
    background-color: #0E1113;
    padding: auto;
} */

/*#0E1113*/